<footer>
  <a href="/updates/atom.xml" target="_blank" rel="noopener" title="RSS">
    <img
      src="{{ get_url(path='/rss.svg', cachebust=true) }}"
      alt="RSS feed icon"
    />
  </a>
</footer>
