{% set description = "The Gitea Community is asking Gitea Owners to correct conflicts of interest and restore Community Trust." %}
{% set headline = "Restoring Trust in the Gitea Project" %}
{% set title = "Open Letter to Gitea" %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
  {% include "head.html" %}

<body>
    <div class="container">
        <header> 
          <h1><a href="{{ config.base_url }}">{{ title }}</a></h1>
          <div class="nav__spacer"></div>
            <nav>
                {% block sidebar_nav %}
                {% for menu_link in config.extra.anpu_menu_links %}
                {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
                <a class="nav__link" href="{{ link_url }}">{{menu_link.name}}</a>
                {% endfor %}
                {% endblock sidebar_nav %}
            </nav>
        </header>
        <main id="main" tabindex="-1">
            {% block content %}
            {% for page in section.pages %}
              <article class="post">
              <img class="header-img" height="300px" width="300px" src="/logo.png" alt="Gitea Open Letter logo">
                  <div class="content">
                      {{ page.content | safe }}
                  </div>
              </article>
			{% endfor %}
            {% endblock content %}


        </main>
    </div>


  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="updates/atom.xml", trailing_slash=false) }}">
  
  {% include "footer.html" %}
</body>
<!-- realaravinth: theme stolen from https://github.com/zbrox/anpu-zola-theme (MIT) -->
</html>
