{% set title = "Updates | Open Letter to Gitea" %} {% set description = "The
Gitea Community is asking Gitea Owners to correct conflicts of interest and
restore Community Trust." %} {% set headline = "Restoring Trust in the Gitea
Project" %}

<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}

  <body>
    <div class="container">
      {% include "nav.html" %}

      <main id="main" tabindex="-1">
        <div class="blog__container">
          <h2 class="blog__title">
            {{ section.title }}
            <a
              href="/updates/atom.xml"
              target="_blank"
              rel="noopener"
              title="RSS"
            >
              <img
                src="{{ get_url(path='/rss.svg', cachebust=true) }}"
                alt="RSS feed icon"
              />
            </a>
          </h2>
          <ul class="blog__list">
            {% for page in section.pages %}
            <li class="blog__post-item">
              <a href="{{ page.permalink | safe }}" class="blog__post-link">
                <h3 class="blog__post-title">{{ page.title }}</h3>
                <p class="blog__post-description">
                  {{ page.content | safe }}
                </p></a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </main>
      {% include "footer.html" %}
    </div>
  </body>
  <!-- realaravinth: theme stolen from https://github.com/zbrox/anpu-zola-theme (MIT) -->
</html>
